<!DOCTYPE HTML>
<html>
<head>
	<meta  charset = "utf-8">
    <meta name="Keywords" content="家政 搜索 服务 帮助 保姆 修理 临时工"/>
    <meta name="Description" content="准确，快捷的家政搜索" />
    <title>{% block title %}家政搜，搜家政{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ config['STATIC_PATH'] }}css/main.css">
</head>
<body>
	<div id="header">
		<div class="wrapper">
			<div class="logo">
                <a href="#"><img src="{{ config['STATIC_PATH'] }}css/img/logo.png"></a>
			</div>
			<div class="desc"></div>
		</div>
	</div>
    {% block content %}
    {% endblock %}
    <div id="footer">
		<div class="wrapper">
			<p>移动版请访问<a target="_blank" href="http://m.jiazhengsou.com">m.jiazhengsou.com</a></p>
			<p>©2012 家政搜<a target="_blank" href="http://weibo.com/jzsou">关注我们的微博</a></p>
		</div>
	</div>
</body>
</html>

