{% extends 'admin/base.html' %}
{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong class="t_title">分类列表</strong> [共<span class="t_red">{{ p.total }}</span>条记录 <span class="t_red">{{ p.page }}/{{ p.pages }}</span>页] </td>
  </tr>
</table>
<div><img src="{{ config['STATIC_PATH'] }}admin/img/blank.gif" width="1" height="8"></div>
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="twidth">
  <tr>
    <td align="left" height="30" colspan="8" bgcolor="#FFFFFF" style="padding-left:10px;">
    <div style="float:right;padding-right:10px;"><a href="{{ url_for('add_cate') }}">添加</a></div>
    <form method="get" action="">
    <input type="text" name="key" value="{{ request.args.get('q','') }}" />
    <input type="submit" value="查询" /> 
    </form>
    </td>
  </tr>
  <tr class="table-field">
    <td width="15%" class="t_b">No.</td>
    <td width="20%" class="t_b">label</td>
    <td width="30%" class="t_b">分类名</td>
    <td width="25%" class="t_b">操作</td>
    <td width="10%" class="t_b">选择</td>
  </tr>
{% for i in p.items %}
  <tr {% if loop.index is even %}class="td1"{% else %}class="td2"{% endif %}>
    <td>{{ i.no }}</td>
    <td>{{ i.label }}</td>
    <td><a href="{{ url_for('edit_cate', cid=i.pk, next=request.path) }}">{{ i.name }}</td>
    <td><a href="{{ url_for('edit_cate', cid=i.pk, next=request.path) }}">编辑</a> {% if i.permissions.delete.can() %}* <a href="{{ url_for('del_cate', cid=i.pk) }}">删除</a>{% endif %}</td>
    <td><input type="checkbox" name="id" value="{{ i.pk }}"></td>
  </tr>
{% endfor %}
</table>
<div><img src="{{ config['STATIC_PATH'] }}admin/img/blank.gif" width="1" height="8"></div>
<div style="text-align:right">
{% from "macros/_page.html" import render_pagination %}
{{ render_pagination(p, 'list_cate',kwargs={'q':request.args.get('q','')}) }}
</div>
{% endblock %}
