{% extends 'admin/base.html' %}
{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong class="t_title">添加城市</strong></td>
  </tr>
</table>
<div><img src="{{ config['STATIC_PATH'] }}admin/img/blank.gif" width="1" height="8"></div>
{% from "macros/_forms.html" import render_errors %}
<form method="POST" action="" enctype="multipart/form-data">
{{ form.hidden_tag() }}
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="twidth">
  <tr class="table-field">
    <td width="23%" class="t_b">项目</td>
    <td width="77%" class="t_b">内容</td>
  </tr>
  <tr>
    <td class="td1">{{ form.name.label }}</td>
    <td class="td22">{{ form.name() }} {{ render_errors(form.name) }}</td>
  </tr>
  <tr>
    <td class="td1">{{ form.no.label }}</td>
    <td class="td22">{{ form.no() }} {{ render_errors(form.no) }}</td>
  </tr>
  <tr>
    <td class="td1">{{ form.label.label }}</td>
    <td class="td22">{{ form.label() }} {{ render_errors(form.label) }}</td>
  </tr>
</table>
<div><img src="{{ config['STATIC_PATH'] }}admin/img/blank.gif" width="1" height="8"></div>
<div style="text-align:center">
    {{ form.submit() }}
    <input type="button" onclick="history.back(-1);" value="返回" />
</div> 
</form>
{% endblock %}
