<html>
<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>WELCOME</title>
<LINK href="{{ config['STATIC_PATH'] }}admin/css/css.css" rel=stylesheet>
</head>

<body bgcolor="#C6D9F4">
<DIV style="text-align:center; padding-top:60PX;"><!--img border="0" src="{{ config['STATIC_PATH'] }}admin/img/welcome.jpg" width="572" height="306"--></DIV>
<DIV style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#1A6477; font-weight:bold; line-height:18PX;">jiazhengsou.com</DIV>
</body>


</html>
