* { margin:0; padding:0; }
*:focus{outline:none;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var
{ font-style:normal; font-weight:normal; }
ol,ul { margin:1em 0; margin-left:40px; padding-left:0; }
ul { list-style-type:disc; }
ol { list-style-type:decimal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
a{text-decoration:none;}
body{font-size:13px; font-family:arial,sans-serif;}
/*global*/
.wrapper{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
#header{
	height:100px;
	background-color:#403632;
	box-shadow: 0 -5px 5px #362e2b inset;
}
#header .logo{
	width:121px;
	height:40px;
	float:left;
	margin-top:30px;
}
#header .desc{
	width:200px;
	height:20px;
	float:left;
	margin-top:50px;
	margin-left:12px;
	background:url('img/icon.png') no-repeat;
}
#footer{
	min-height:100px;
}
#footer p{
	margin-top:20px;
	color:#999;
}
#footer p a{
	color:#f39700;
	margin-left:15px;
}

/*contont*/
#home .print{
	border-top:1px solid white;
	padding:50px 0px;
	height:350px;
	background:url('img/bg.gif') repeat;
}
#home .print .left{
	width:360px;
	height:350px;
	float:left;
	margin-right:100px;
	background:url('img/sis.jpg') 10px 0px no-repeat;
}
#home .print .right{
	overflow:hidden;
}
#home .print .right .download a{
	display:block;
	float:left;
	height:70px;
	padding:0px 30px;
	background-color:#f39700;
	background-image: -webkit-linear-gradient(top, #f5a100, #f39700);
	background-image: -moz-linear-gradient(top, #f5a100, #f39700);
	background-image: -ms-linear-gradient(top, #f5a100, #f39700);
	background-image: -o-linear-gradient(top, #f5a100, #f39700);
	background-image: linear-gradient(top, #f5a100, #f39700);
	line-height:70px;
	font-size:30px;
	color:white;
	font-family:myriad pro;
	font-weight:bold;
	border-radius:6px;
	border:1px solid #e07c04;
	box-shadow:0px 1px 0px #f9c600 inset;
	text-shadow:0px 1px 0px #b67100;
}
#home .print .right .download a:hover{
	background-color:#f5a100;
	background-image: -webkit-linear-gradient(top, #f7ab00, #f5a100);
	background-image: -moz-linear-gradient(top, #f7ab00, #f5a100);
	background-image: -ms-linear-gradient(top, #f7ab00, #f5a100);
	background-image: -o-linear-gradient(top, #f7ab00, #f5a100);
	background-image: linear-gradient(top, #f7ab00, #f5a100);
}
#home .print .right .download{margin-top:35px;}
#home .print .right .download a span{
	display:block;
	float:left;
	margin-right:15px;
	width:35px;
	height:41px;
	margin-top:13px;
	background:url('img/icon.png') no-repeat;
}
#home .print .right .download a.iphone{margin-right:30px;}
#home .print .right .download a.iphone span{background-position:0px -25px;}
#home .print .right .download a.android span{background-position:-37px -25px;}
#home .print .right p{
	color:#928177;
	font-size:20px;
	line-height:38px;
	text-shadow:0px 1px 0px white;
}
#home .print .right p.quest{
	color:#382920;
	font-size:24px;
	margin-top:15px;
}
#home .print .right p.quest span{
	font-size:36px;

}